# Доступ к локальному ClickHouse. Настоящий .env не добавляйте в Git.
CLICKHOUSE_USER=bi
CLICKHOUSE_PASSWORD=bi_demo

# Пока GitDagBundle забирает код из локального репозитория, примонтированного в контейнер.
# Позже здесь можно указать адрес репозитория на GitHub или GitLab, например:
# DAGS_GIT_REPO=https://github.com/your-user/ny-taxi-airflow-spark.git
DAGS_GIT_REPO=file:///opt/source-repo
DAGS_GIT_REF=main
